.c-news-item {
  display: flex
  align-items: start
  background-color: #fff
  padding: 15px
  margin: 24px 15px 15px
  border-radius: 10px
  cursor: pointer
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1)
  getTransition(background-color)

  &.active {
    cursor: default
    background-color: $grayBlue

    .item-description {
      opacity: 1
      max-height: 200px
    }
  }

  .item-media {
    font-size: 0
    width: 350px
    min-width: 350px
    overflow: hidden
    max-height: 100%
    position: relative
    border-radius: 10px
    min-height: 60px
    getTransition(min-height)
  }

  .image-wrapper {
    position: absolute
    font-size: 0
    left: 0
    width: 100%
    border-radius: 10px
    overflow: hidden
    top: 50%
    transform: translateY(-50%)
  }

  .item-published {
    font-size: 12px
    color: #d6c7ef
    text-align: right
    margin: 7px 0
  }

  .read-more {
    margin-bottom: 0

    a {
      font-size: 14px
      color: #d6c7ef
      cursor: pointer


      &:hover {
        text-decoration: none
      }
    }
  }

  .item-media img {
    width: 100%
  }

  .item-body {
    padding-left: 15px
    min-height: 60px
  }

  .item-title {
    font-size: 21px
    font-weight: 600
    line-height: 1.30em
    margin: 0
    padding: 0
  }

  .item-description {
    opacity: 0
    max-height: 0
    overflow: hidden
    transition: max-height 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s
    margin: 0
    padding: 0
}

  @media screen and (max-width: 836px) {
    .item-media {
      width: 225px
      min-width: 225px
    }
  }

  @media screen and (max-width: 680px) {
    flex-direction: column
    min-height: auto

    .item-media {
      min-height: 90px
    }

    .item-body {
      margin-top: 10px
    }

    .item-media {
      width: 100%
    }
  }
}
